# Xcode user-specific
xcuserdata/
*.xcuserstate

# Build artifacts
DerivedData/

# Swift Package Manager
.swiftpm/
Package.resolved





# Local Netlify folder
.netlify

# Environment variables
.env
.env.local
.env.*.local

# npm cache
.npm-cache/



